{
  presets: [
    'stage-0',
    'react'
  ],
  env: {
    es: {
      presets: [
        [ 'env', {
          modules: false,
          targets: {
            browsers: 'last 2 versions, > 5%'
          }
        } ],
        'stage-0',
        'react'
      ]
    },
    emotion: {
      plugins: [
        [
          'transform-rename-import',
          {
            replacements: [
              {
                original: '^system-components$',
                replacement: 'system-components/emotion'
              },
              {
                original: '^styled-components$',
                replacement: 'emotion-theming'
              },
              {
                original: '^grid-styled$',
                replacement: 'grid-styled/emotion'
              }
            ]
          }
        ]
      ]
    }
  }
}
